body{
	margin:0;
	padding:0;
	width:100%;
	display: table;
    font-weight: 100;
	font-family: 'PT Sans', sans-serif !important;
}
header{
	font-family: 'Lato', sans-serif;
	position:absolute;
	height:45px;
	line-height:45px;
	width:100%;
	vertical-align:middle;
    color:white;
}
main{
	width:100%;
	background-color:black;
	padding-bottom:20px;

}
footer{
	z-index:1;
	background-image:url('../img/bg-bot.jpg');
	color:white;
}
.main-content{
	max-width:1150px;
	padding-left:100px;	
	padding-right:100px;
	background-color:white;
	-webkit-box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.75);
	box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.75);
	padding-top:20px;
}
.main-content h1{
	color:#337cbb;
}
.content{
	text-align: center;
    	display: table-cell;
    	vertical-align: middle;
}
.mini-title{
    font-size: 25px;
    color:white;
}
.header{
	max-width:1150px;
    background-image:url('../img/bg-bot.jpg');
	background-color:dimgrey;
	color:white;	
}

.the-caption{
	font-size:16px;
	color:white;
}
ul.header-list{
	float:right;
}
ul.header-list li{
	display:inline;
	margin-right: 15px;
	color:#337cbf;
}
.photo-col{
}
.photo-col img{
	width:100%;
	height:100%;
}
.row.one-row{
	margin-left:0;
	margin-right:0;
	margin-top:30px;
}
.col-desc{
	padding-left:20px;
}
.desc{
	font-size: 16px;
}
.wrapper{
	max-width:1200px;
	padding-top:25px;
}
.footer-logo{
	height:95px;
	width:120px;
}
.footer-logo img{
	width:100%;
	height:100%;
}
.logo-name{
	margin-top:10px;
	color:white;
}
.socmed-link ul{
	padding-left:0px;
}
.socmed-link ul li{
	display:inline;
}
.socmed-link img{
	width:35px;
	height:35px;
}

a:hover{
    color: white;
    text-decoration: none;
}
.left{
	float:left;
}
.right{
	float:right;
}
.inline{
	display:inline;
}
.block{
	display:block;
}
.sosmed ul li{
	text-decoration:none;
	display:inline !important;
}
.sosmed img{
	width:40px;
	height:40px;
}
